@font-face {
  font-family: "WorkSans", Arial, Helvetica, sans-serif;
  src: url("../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-image: url("../assets/images/background-pattern-desktop.svg");
}

.FAQ-box {
  height: 60%;
  width: 35%;
  background-color: white;
  box-shadow: 0 0 10px black;
  margin: auto;
  border-radius: 15px;
}

header {
  font-family: "WorkSans", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  padding: 30px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
