@font-face {
  font-family: "WorkSans", Arial, Helvetica, sans-serif;
  src: url("../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
}

body {
  font-family: "workSans", Arial, Helvetica, sans-serif;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-image: url("../assets/images/background-pattern-desktop.svg");
}

.FAQ-box {
  width: 35%;
  background-color: white;
  box-shadow: 0 0 10px black;
  margin: auto;
  border-radius: 15px;
  padding: 30px;
}

header {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 30px;
}

.title-image {
  display: flex;
}

h4 {
  margin-right: auto;
}

.text {
  opacity: 50%;
  display: none;
  font-size: 14px;
  line-height: 25px;
  margin-top: 0;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

.active .text {
  display: block;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 586px) {
  header {
    font-size: 3em;
  }

  .FAQ-box {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  header {
    font-size: 2em;
  }

  .FAQ-box {
    font-size: 14px;
  }
}

@media screen and (max-width: 368px) {
  header {
    font-size: 1.6em;
  }

  .FAQ-box {
    font-size: 14px;
  }
}